<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div style="margin:0 auto ; width:50%; padding:20px">
  <form action="/menu/addMenuItem" method="post">
  <label>Name</label>
  <input type="text" name="name">
    <br /> <br /> <br /> <br />
  <label>Ingredients</label>
  <input type="text" name="ingredients">
    <br /> <br /> <br /> <br />
    <label>Price</label>
    <input type="text" name="price">
      <br /> <br /> <br /> <br />
  <button>submit</button>
    </form>
  </div>
</body>
</html>