<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div style="margin:0 auto ; width:50%; padding:20px">
  <form action="/menu/deleteMenuItem" method="post">
  <label>Id</label>
  <input type="text" name="id">
  <br /> <br /> <br /> <br />
  <button>submit</button>
    </form>
  </div>
</body>
</html>